@using DemoTools.BLL.DemoNorthwind
@model AzEmployeesList
@{
   ViewBag.Title ="员工表";
 }

 <div id="content">
 <h2>员工表</h2>
 <div style="clear: both;"></div>
    @await Html.PartialAsync("DetailsPage", Model) 
 </div>
@section Scripts{<script src="~/js/MvcPager.js"></script>}